div(data-role="header" style="height:52px;background-color:#1f1f1f;border:1px solid #1f1f1f;")
   div
      a(href="index.html")
         img(src="./img/logo.png" style="margin:8px 15px;")
      div(style="float:right;")
         a(href="orderlist.html")
            img(src="./img/user.png" style="margin:11px 10px;")
         a#menu(style="display:inline-block;height:52px;border-left:1px solid #363636;")
            img(src="./img/menu.png" style="margin:11px 10px;")
div#menu-list(data-role="navbar" style="background-color:#1f1f1f;opacity:0.6;display:none;")
      ul
         li
            a(href="carlist.html" style="height:25px;line-height:25px;background-color:#1f1f1f;color:#fff;border:none;font-size: 14px;") 适配车型
         li
            a(href="install.html" style="height:25px;line-height:25px;background-color:#1f1f1f;color:#fff;border:none;border-left:1px solid #363636;font-size: 14px;") 安装说明
         li
            a(href="app.html" style="height:25px;line-height:25px;background-color:#1f1f1f;color:#fff;border:none;border-left:1px solid #363636;font-size: 14px;") APP下载



      //img(src="./img/menu.png")



