link(rel="shortcut icon", type="image/ico", href="./img/favicon.ico")
link(rel="bookmark", type="image/ico", href="./img/favicon.ico")
link(type="text/css",rel="stylesheet",href="./lib/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css")
link(type="text/css",rel="stylesheet",href="./css/common.css")
script(data-main="./config.js" src="./lib/require.min.js")