body{
   background: #f1f2f6;
   font-family: SimSun;
}
.ui-page-theme-a a.title{
    color:#fff;
    background:url('../img/title_bg.jpg') repeat-x;
    margin:0;
    height: 18px;
    line-height: 20px;
    font-weight: normal;
    padding-left: 0;
    width:100%;
    top:-1px;
    font-size:20px;
    border:none;
}
.input-text{
    height:60px;
}
.ui-input-text{
    margin-bottom: 15px;
}
.ui-page-theme-a .ui-btn.btn-primary{
    background-color: #37bdd6;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    color:#fff;
    font-weight: normal;
    font-size: 18px;
}
.btn-primary.ui-btn:active{
    text-shadow: 0 1px 0 #f3f3f3;
}
.btn-primary.ui-btn:hover{
    box-shadow: 0 0 12px #38c;
}
.ui-page-theme-a .ui-btn.btn-default{
    background-color: #676767;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    color:#fff;
    font-weight: normal;
    font-size: 18px;
}
.btn-default.ui-btn:active{
    text-shadow: 0 1px 0 #f3f3f3;
}
.btn-default.ui-btn:hover{
    box-shadow: 0 0 12px #38c;
}
.btn-blank.ui-btn:active{
    text-shadow: 0 1px 0 #f3f3f3;
}
.btn-blank.ui-btn:hover{
    box-shadow: 0 0 12px #38c;
}
.tips-container{
    color: #a94442;
    font-size: 14px;
    margin: 5px 0;
    display: none;
}
.title.ui-btn-icon-left:after{
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.address-name{
    font-size: 16px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 45px;
}
.address-tel{
    font-size: 16px;
    display: inline-block;
    margin-left: 5px;
}
.address-detail{
    font-size: 14px;
    color: #929292;
}
.ads-left {
    width: 40%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
}
.ads-right {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #929292;
}
.text-right{
    text-align: right;
    color: #37bdd6;
}
.info-title{
    display: inline-block;
    width:30%;
    text-align: left;
    height: 35px;
    line-height: 35px;
    color: #37bdd6;
    font-size: 14px;
}
.info-content{
    font-size: 14px;
}
.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
}
#login,#register,#resetpwd1,#resetpwd2,#resetpwd3{
    font-size:14px;
}
.ui-field-contain>label {
    float: left;
    width: 20%;
    margin: .5em 2% 0 0;
}
.ui-field-contain>label~[class*=ui-] {
    float: left;
    width: 78%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.address-arrow{
    position:absolute;
    height: 30px;
    width: 24px;
    top:5px;
    right:0;
    display:block;
    background:url('../img/arrow-r.png') no-repeat right;
}
.address-list{
    background:url('../img/ads_bg1.png') repeat-x #fff;
    height:72px;
    margin-top:10px;
}