doctype html
html
   head
      title 选择车型
      meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
      meta(name="viewport",content="width=device-width, initial-scale=1")
      include include/loads.jade
   body
      div(data-role="page" id="choicecar")
         include include/header.jade
         a.title( data-corners="false" style="font-size: 18px;padding: .7em 1em;display: block;position: relative;text-align: center;text-overflow: ellipsis;overflow: hidden; white-space: nowrap;") 选择车型
         div(data-role="content")
            div(data-role="ui-field-contain" style="border-bottom:none;margin-bottom:20px;")
               label(for="brand" style="float: left;width: 20%;margin: .5em 2% 0 0;") 车辆品牌
               select#brand(name="brand" data-corners="false" style="background:#fff;")
            div(data-role="ui-field-contain" style="border-bottom:none;margin-bottom:20px;")
               label(for="model" style="float: left;width: 20%;margin: .5em 2% 0 0;") 车系
               select#model(name="model" data-corners="false" style="background:#fff;")
            div(data-role="ui-field-contain" style="border-bottom:none;margin-bottom:20px;")
               label(for="year" style="float: left;width: 20%;margin: .5em 2% 0 0;") 年份
               select#year(name="year" data-corners="false" style="background:#fff;")
            div(data-role="ui-field-contain" style="border-bottom:none;margin-bottom:20px;")
               label(for="style" style="float: left;width: 20%;margin: .5em 2% 0 0;") 车型
               select#style(name="style" data-corners="false" style="background:#fff;")
            div(data-role="ui-field-contain" style="margin-top:45px;")
               a#choicecar-btn.btn-primary(data-role="button"  data-corners="false" href="#choicecar-ok" data-rel="dialog") 确定
         include include/footer.jade
      div(data-role="page" id="choicecar-ok")
         div(data-role="header")
            h1 车型确认
         div(data-role="content")
            div(style="font-size:18px;color:#37bdd6;border-bottom:1px solid #e3e3e3;height:50px;line-height:50px;") 您选择的车型为：
            p#choicecar-confirm(style="font-size:16px;color:red;height:80px;line-height:50px;")
            a#choicecar-btn-ok.btn-primary(data-role="button"  data-corners="false") 确定
